.Leader-Board {
    font-family: 'Inter', sans-serif;
    padding-top: 60px;
    padding-bottom: 65px;
    color: white;
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-image: url('/bg-leader-board.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.Leader-Board h1 {
    font-size: 42px;
    line-height: 1;
    margin-bottom: 60px;
}

.Colums {
    display: grid;
    padding: 0 10.8vw;
    grid-template-columns: 1fr 1fr;
    gap: 38px;
}

.Left-Colum,
.Right-Colum {
    max-height: 840px;
    max-width: 840px;
    overflow-y: auto;
    background: linear-gradient(
        180deg,
        rgb(0 0 0 / 0.2) 0%,
        rgb(0 0 0 / 0) 100%
    );
    border-radius: 12px;
    padding: 32px 29px;
    display: grid;
    height: max-content;
    /* Скрытие скроллбара для firefix */
    scrollbar-width: none;
}
/* для chromium */
.Left-Colum::-webkit-scrollbar,
.Right-Colum::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

.Left-Colum h2,
.Right-Colum h2 {
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 32px;
    margin-top: 0;
    height: max-content;
}

.Referal-Container {
    backdrop-filter: blur(34px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
}

.Review-Container {
    backdrop-filter: blur(34px);
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.Weekly-Right,
.Weekly-Left {
    background-color: rgb(255 255 255 / 0.1);
    border-radius: 12px;
    padding: 8px;
    display: grid;
    height: max-content;
}

.Weekly-Left {
    grid-template-columns: 1fr 2fr;
}

.Weekly-Right {
    padding-top: 20px;
}

.Achivments {
    display: flex;
    flex-wrap: wrap;
}

.Person {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.Person-Avatar {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    line-height: 0;
}

.Person-Name {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.Location {
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
    color: #d0d5ee;
}

.Rank_img {
    max-width: 32px;
    margin-bottom: -5px;
}

.Avatar_img {
    width: 64px;
    border-radius: 99px;
    margin-bottom: 8px;
}

.Achivments {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    max-width: 150px;
}

.Icon-Center {
    width: 48px;
    height: 48px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-color: rgb(255 241 204 / 0.2);
    border-radius: 99px;
}

.Icon {
    width: 32px;
    height: 32px;
}

.Person-Title {
    display: grid;
    gap: 16px;
    height: max-content;
    margin-left: 3vw;
}

.Person-Rairing {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgb(0 0 0 / 0.2);
    border-radius: 8px;
    padding: 8px;
    width: 80%;
}

.Person-Rairing h3 {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    color: rgb(255 255 255);
    margin: 0;
}

.Person-Rairing p {
    font-size: 14px;
    line-height: 20px;
    color: rgb(255 255 255 / 0.7);
    margin: 0;
}

.Star {
    width: 20px;
}

.Person-Text {
    font-size: 14px;
    line-height: 20px;
    color: rgb(255 255 255 / 0.7);
}

.Person-Colledg {
    font-size: 14px;
    line-height: 20px;
    color: rgb(255 255 255 / 0.7);
    width: 80%;
}

.Big-Achivment {
    display: grid;
    grid-template-columns: 1fr;
    gap: 13px;
    padding-bottom: 22px;
}

.Ref-Rel-Con {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgb(0 0 0 / 0.17);
    border-radius: 99px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: max-content;
}

.Ref-Icon {
    width: 30px;
    height: 30px;
}

.Ref-Icon-Con {
    width: 44px;
    height: 44px;
    display: grid;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-position: center;
    background-color: rgb(255 241 204 / 0.2);
    border-radius: 99px;
}

.Quantity {
    font-size: 20px;
    line-height: 20px;
    color: rgb(255 255 255);
    margin: 0;
}

.Name-Quantity {
    font-size: 14px;
    margin: 0;
}

.Global-Raiting {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.Performers {
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -1.5px;
    font-weight: 600;
}

.Global-Rank {
    display: flex;
    margin-top: 24px;
    margin-bottom: 50px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 9px;
    background-color: rgb(0 0 0 / 0.17);
    border-radius: 99px;
    width: max-content;
}

.Switch-Btns {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.Switch-btn {
    all: unset;
    position: relative;
    flex: 1;
    z-index: 2;
    background: none;
    padding: 6px 75px;
    cursor: pointer;
    box-sizing: border-box;
    transition: color 0.3s;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.Switch-btn.active {
    color: #003fe0;
}

.Active-bg-js {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 0;
    background-color: white;
    border-radius: 99px;
    z-index: 1;
    transition:
        transform 0.3s ease-in,
        width 0.3s ease-out;
}
