.Join_t h3 {
    font-size: 32px;
    font-weight: 700;
    color: #1a1a2e;
    margin-bottom: 30px;
    margin: 30px 145px;
    font-family: Inter;
}

.tasks-content {
    margin: 0 15vw;
    font-family: Inter;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    background-color: #ffffff;
    box-shadow: 0px 12px 35px 0px #64748c1f;
    padding: 30px;
    border-radius: 24px;
}

.task-item {
    border-radius: 16px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.task-item:nth-child(1),
.task-item:nth-child(2),
.task-item:nth-child(3) {
    grid-column: span 2;
}

.task-item:nth-child(4),
.task-item:nth-child(5) {
    grid-column: span 3;
}

/* gradients */
.task-item:nth-child(1),
.task-item:nth-child(2) {
    background:
        radial-gradient(at left bottom, #f3fdfa 20%, transparent 50%),
        radial-gradient(at right top, #f8f6ff 20%, transparent 50%);
}

.task-item:nth-child(3),
.task-item:nth-child(5) {
    background:
        radial-gradient(at left bottom, #fff7f6 20%, transparent 50%),
        radial-gradient(at right top, #f8f6ff 20%, transparent 50%);
}

.task-item:nth-child(4) {
    background:
        radial-gradient(at left bottom, #f8f6ff 20%, transparent 50%),
        radial-gradient(at right top, #f8f6ff 20%, transparent 50%);
}

.icon-wrapper {
    sex: none;
    width: 64px;
    height: 64px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.icon-wrapper img {
    width: 32px;
    height: 32px;
}

.task-item h6 {
    font-size: 18px;
    font-weight: 700;
    color: #1a1a2e;
    margin: 0 0 12px 0;
}

.task-item p {
    font-size: 14px;
    color: #666666;
    line-height: 1.6;
    margin: 0;
}

.tasks-item:nth-child(1) div {
    display: none;
}

.task-item:nth-child(1) div {
    background-color: #e3f8fa;
    filter: drop-shadow(0px 5px 5px #e3f8fa2d);
}

.task-item:nth-child(2) div {
    background-color: #e3fae9;
    filter: drop-shadow(0px 5px 5px #e3fae92f);
}

.task-item:nth-child(3) div {
    background-color: #ffe6e2;
    filter: drop-shadow(0px 5px 5px #ffe6e22a);
}

.task-item:nth-child(4) div {
    background-color: #eae3fa;
    filter: drop-shadow(0px 5px 5px #eae3fa31);
}

.task-item:nth-child(5) div {
    background-color: #ffe2ee;
    filter: drop-shadow(0px 5px 5px #ffe2ee2a);
}
