
.Header {
    --header-color-text: #EAD7FF;
    color: var(--header-color-text);
    padding-top: 20px;
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 99999;
    align-content: center;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 0px;
    transition: transform 0.5s ease, opacity 0.3s ease, color 0.3s, border-bottom 0.3s ease;
}

.header--hidden {
    transform: translateY(-100%);
}

.header--visible {
    transform: translateY(0);
}

.header--scrolled {
    background-color: rgb(0 0 0 / 0.15);
    --header-color-text: #ffffff;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid white;
}

.header--transparent {
    color: var(--header-color-text);
    backdrop-filter: blur(0px);

}

.Logoone {
    font-family: "Saira", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.5px;
}

.List {
    font-family: "Inter", bold;
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 45px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.List li {
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s ease;
}

.List a {
    color: var(--header-color-text);
    font-family: "Inter", bold;
    text-decoration: none;
    background-color: rgba(26, 110, 236, 0.25);
    border-radius: 4px;
    border: 1px solid white;
    padding: 8px 55px;
    transition:  0.5s ease;

}

.List li:hover {
    scale: 1.1;
}


.List a:hover {
    scale: 1.1;
    background-color: rgba(79, 146, 247, 0.699);
} 



